body {
    padding-left: 11em;
    font-family: Verdana, Geneva, sans-serif;
    }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

h1 
{font-family:Verdana, Geneva, sans-serif; 
    font-size:18px; 
    color:#666666;
    align-content:center;

}
h2 
{font-family:Verdana, Geneva, sans-serif; 
    font-size:16px; 
    color:#666666;
}
h3 
{font-family:Verdana, Geneva, sans-serif; 
    font-size:14px; 
    color:#666666;
    
}
h4 
{font-family:Verdana, Geneva, sans-serif; 
    font-size:12px; 
    color:#666666;
}
p 
{font-family:Arial, Helvetica, sans-serif; 
    font-size:12px; 
    color:black;
}
ul 
{font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    color:black;
}
.ingredient 
{font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    color:black; 
    position:absolute; left:100px ;
}
.quantity 
{font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; 
    color:black; 
    position:11em;
}
.recipe
{border-bottom: 1px; 
    color: gray;
}
a:link
{
    color:blue;
}
a:visited
{
    color:violet;
}
a:hover
{
    font-weight:bolder;
}
