body {
    padding-left: 2em;
    font-family: Verdana, Geneva, sans-serif;
    }
h1 {
    font-size: 18px; 
    color:#f2990b;
    align-content:center;
}
h1:before,h1:after {
    content:"♦";
    font-size:inherit;
  }
h2 {
    font-size: 16px; 
    color:#f2990b;
  }
h3 {
    font-size:14px; 
    color:#bf7a0c;
    
  }
h4 {
    font-size: 12px; 
    color:#bf7a0c;
  }
p {
    font-size: 12px; 
    color:black;
  }
ul {
    list-style-type: none;
    font-size: 14px; 
    color:black;
    display:inline
    }
ol {
    font-size: 14px; 
    color:black;
  }
.ingredient {
    font-size: 14px; 
    color:black; 
    width:85%;
    display: inline-block; 
  }
.quantity {
    font-size:14px; 
    color:black; 
    width:15%;
    text-align:left;
    display: inline-block;
  }
a:link {
    color:blue;
  }
a:visited {
    color:#bf7a0c;
  }
a:hover {
    font-weight:bolder;
  }
